.done{
    color: rgb(85, 85, 85);
    text-decoration: line-through;
}
.done:hover{
    color: rgb(85, 85, 85);
    text-decoration: line-through;
    font-size: inherit;
}

.input{
    background-color: black;
}

.card{
    max-width: 100%;
}

body{
    background-color: #2d2d2e;
    text-align: center;
}

h1{
    color: white;
}

li{
    color: white;
}
li:hover{
    color: red;
    font-size:1rem;
    transition: all 300ms;
}